[build]
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild"

[dev]
  functions = "netlify/functions"

[[redirects]]
  from = "/product/:id"
  to = "/.netlify/functions/index?id=:id"
  status = 200

# SPA fallback (important for React routing)
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200